about-time==3.1.1
alive-progress==2.1.0
ase==3.21.1
cclib==1.7.1
certifi==2021.10.8
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.28.3
grapheme==0.6.0
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.0
openpyxl==3.0.9
packaging==21.3
periodictable==1.6.0
Pillow>=8.4.0
pyparsing==3.0.6
python-dateutil==2.8.2
scipy==1.7.3
pandas
six==1.16.0
